{% extends 'core/base.html' %}

{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'core/CSS/styleservices.css' %}">

{% endblock %}

{% block contenido %}

        <header class="wave-serv" id="inicio">
            <div class="container">
                <div class="row">
                    <!-- Texto -->
                    <div class="col-md-5 text-white mt-4 ms-5 me-4 slogan" style="z-index: 1;"> 
                                                                    <!-- col-md = columna en pantallas medianas 
                                                                    | mt = margin-top 
                                                                    | ms = margin-start(left) 
                                                                    | (Al parecer los margin llegan hasta 5) -->
                        <h1><b>¡Servicios Petmaniaticos!</b></h1>
                        <p>Acá podrás ver todos los servicios que le ofrecemos a tu mascota.</p>
                        <a class="btn btn-lg btn-warning" href="#servicios">Servicios 
                            <i class="bi bi-arrow-right-circle"></i></a>
                        <a class="btn btn-lg btn-warning mar-tp" href="#instalaciones">Instalaciones 
                            <i class="bi bi-arrow-right-circle"></i></a>
                        <a class="btn btn-lg btn-warning mar-imag" href="#comentarios">Comentarios PetManiaticos
                            <i class="bi bi-arrow-right-circle"></i></a>    
                    </div>
    
                    <!-- Imagen -->
                    <div class="col ms-5" style="z-index: 1;">
                        <img class="img-fluid" width="400" src="{% static 'core/IMG/imagenpetmania.png' %}">
                    </div>
                </div>
            </div>
        </header>

        <main>
           <section class="presentation container">
               <img src="{% static 'core/IMG/Pet _Mania_png.jpeg' %}" class="presentation__picture">
               <h2 id="servicios" class="subtitle">Los mejores servicios que podrás encontrar</h2>
               <p class="presentation__copy"></p>
           </section>
           <section class="about container">
               <div class="about__texts">
                   <h2  class="subtitle">Procedimientos y Consultas Médicas</h2>
                   <p class="about__paragraph">Pet Manía es una clínica veterinaria que atiende 24 horas, ofreciendo un 
                       equipo médico de profesionales especializados, instalaciones adecuadas y un moderno equipamiento para dar
                       la mejor atención a tu mascota.
                   </p>   
                </div>
                <figure class="about__img">
                    <img src="{% static 'core/IMG/img.servicio_procedimientos.jpg' %}" class="about__picture">
                </figure>
                <figure class="about__img about__img--left">
                    <img src="{% static 'core/IMG/img.servicio_vacuna.png' %}" class="about__picture">
                </figure>
               
                <div class="about__texts">
                    <h2 class="subtitle">Vacunas Manía</h2>
                    <p class="about__paragraph">En Pet Manía, ofrecemos servicios de vacunación preventiva. 
                        Tenemos diversar opciones acorde a la edad de tu mascota. </p>     
                 </div>             
  
                 <div class="about__texts">
                    <h2 class="subtitle">Servicio de Esterilización Manía</h2>
                    <p class="about__paragraph">Esterilizar trae múltiples beneficios para 
                        la salud y comportamiento de tu mascota. ¡Agenda tu hora con nosotros! </p>    
                 </div>
                 <figure class="about__img">
                    <img src="{% static 'core/IMG/img.servicio_esterilizacion.png' %}" class="about__picture">
                </figure>
                <figure class="about__img about__img--left">
                    <img src="{% static 'core/IMG/img.servicio_microchip.jpeg' %}" class="about__picture">
                </figure>

                <div class="about__texts">
                    <h2 class="subtitle">Microchip Manía</h2>
                    <p class="about__paragraph">El microchip es un dispositivo electrónico, que permite registrar todos los datos de tu mascota,
                         ya que así en caso de extravío, se pueda escanear a través de una máquina. 
                        Es del tamaño de un grano de arroz y no tiene rechazo por parte del organismo. 
                        En Pet Manía colocamos este chip de manera ambulatoria, ya que no requiere anestesia.
                    </p>
                </div>
                <div class="about__texts">
                    <h2 class="subtitle">Peluquería Manía</h2>
                    <p class="about__paragraph">Nuestro servicio de Peluquería Manía incluye: Baño sanitario, limpieza de oídos, corte de uñas y 
                        limpieza de glándulas anales. Además contamos con un servicio de peluquería a domicilio. 
                        Nuestra Peluquería Manía está abierta de Lunes a Sábados desde las 9:00 am.</p>
      
                 </div>
                 <figure class="about__img">
                    <img src="{% static 'core/IMG/img.servicio_peluqueria.png' %}" class="about__picture">
                </figure>
                <figure class="about__img">
                    <img src="{% static 'core/IMG/img.servicio_hoteleria.png' %}" class="about__picture">
                </figure>
                <div class="about__texts">
                    <h2 class="subtitle">Hotelería Manía</h2>
                    <p class="about__paragraph">En Pet Manía, contamos con cuidados personalizados las 24 hrs, 
                        donde tus mascotas podrán divertirse en espacios acondicionados completamente para ellos.
                        Además tendrás reportes diarios con fotos y videos para saber como está. Nuestra infraestructura cuenta con 
                        10 suites exclusivos. </p>     
                 </div>                         
           </section>
           <section id="instalaciones" class="projects">
               <div class="container">
                   <h2 class="subtitle">Nuestras instalaciones</h2>
                    <div class="projects__grid">
                        <article class="projects__item">
                            <img src="{% static 'core/IMG/img.infraestructura_recepcion.jpg' %}" class="projects__img">
                            <div class="projects__hover">
                                <h2 class="projects__title">Recepción</h2>
                                <i class="far fa-file-alt projects__icon"></i>
                            </div>
                        </article>

                        <article class="projects__item">
                            <img src="{% static 'core/IMG/img.infraestructura_hospitalizacion.jpg' %}" class="projects__img">
                            <div class="projects__hover">
                                <h2 class="projects__title">Hospitalización</h2>
                                <i class="far fa-file-alt projects__icon"></i>
                            </div>
                        </article>

                        <article class="projects__item">
                            <img src="{% static 'core/IMG/img.infraestructura_laboratorio.jpg' %}" class="projects__img">
                            <div class="projects__hover">
                                <h2 class="projects__title">Laboratorio</h2>
                                <i class="far fa-file-alt projects__icon"></i>
                            </div>
                        </article>

                        <article class="projects__item">
                            <img src="{% static 'core/IMG/img.infraestructura_quirofano.jpg' %}" class="projects__img">
                            <div class="projects__hover">
                                <h2 class="projects__title">Quirófano</h2>
                                <i class="far fa-file-alt projects__icon"></i>
                            </div>
                        </article>

                        <article class="projects__item">
                            <img src="{% static 'core/IMG/img.infraestructura_rayos.jpg' %}" class="projects__img">
                            <div class="projects__hover">
                                <h2 class="projects__title">Rayos</h2>
                                <i class="far fa-file-alt projects__icon"></i>
                            </div>
                        </article>
                    </div>
                </div>
           </section>

           <section id=comentarios class="testimony container">
               <h2 class="subtitle">¿Qué dicen nuestros PetManiaticos?</h2>
               <div class="testimony__grid">
                   <article class="testimony__item">
                       <div class="testimony__person">
                           <img src="{% static 'core/IMG/img.cliente1.jpg' %}" class="testimony__img">
                           <div class="testimony__texts">
                               <h3 class="testimony__name">Raimundo Echeverría</h3>
                               <p class="testimony__verification">Vacuna a Poppy</p>
                             </div>
                       </div>
                       <p class="testimony__review">"Excelente atención. Poppy estaba muy asustado, sin embargo
                           el equipo especializado de Pet Manía logró hacerlo entrar en confianza en un par de segundos.
                           Recomiendo esta veterinaria en un 100%."" </p>
                   </article>
                   <article class="testimony__item">
                    <div class="testimony__person">
                        <img src="{% static 'core/IMG/img.cliente2.png' %}" class="testimony__img">
                        <div class="testimony__texts">
                            <h3 class="testimony__name">Marcela del Río</h3>
                            <p class="testimony__verification">Operación tumor a Canela</p>
                          </div>
                    </div>
                    <p class="testimony__review">"Canela tenía un tumor en su estómago y los médicos veterinarios hicieron un excelente trabajo,
                         y gracias a ello Canela anda feliz, sin dolor y tranquila."
                </article>                
               </div>
           </section>
        </main>
       

{% endblock %}

{% block div-footer%}
    <div class="container slogan">
{% endblock %}

